{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js"
        ]
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "variables": false
      }
    ],
    "import/prefer-default-export": 0,
    "comma-dangle": [
      "error",
      {
        "functions": "ignore"
      }
    ],
    "no-shadow": 0,
    "no-console": 0,
    "no-unreachable": 0,
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "env": {
    "browser": true,
    "node": true,
  },
}
